<html>
	<TITLE>Table 3 always goes FULL HOOAH</TITLE>
	

	<body>
		<link rel="stylesheet" href="Home.css" type="text/css">
	<header><h1>The Hoh Forest Flying Stingray</h1></header>
	<nav><center>
		<ul>
			<li>
				<a href="Home.html">
				Home Page
					</a>
			</li>
			<li>
				<a href="habitat.html">
				Habitat
					</a>	
			</li>
			<li><a href="Species.html">
				Species
					</a>
			</li>
			<li>
				<a href="index.html">
				About
				</a>
				</li>
		</ul></center>
	</nav>
	<section>
		<article>
			<img src="Picture3.jpg"></center>
			<p><center>Image credit: www.funarm.com</center></p>
			<p>
			The Hoh Rainforst Flying Stringray is probably the scariest animal on Earth. It is a highly dangerous creature. Imagine what it would be like to be stung in the water by one of these!? Now Imagine you're walking through a rainforest just minding your own business thinking, "I'm sure glad I'm not in the Ocean right now. I am super afraid of being stung by fish in the water. I couldn't be happier now that I'm on land because I know that can't happen!" When all of a sudden, SNAP!!! A freaking Stringray just flew down from the tree above you and stung you like a needle in the haystack you were not actually planning to find. 
			</center></p>
			

		</article>
	</section>
	<aside>
	</aside>
	<footer>
	</footer>
	</body>
</html>